/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/(routes)/(BrokerView)/view/page.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.text{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 50px;
}
.sentence{
    margin-top: 50px;
    margin-left: 60px;
    font-size: 25px;
    border-radius: 6px;
    background-color: aliceblue;
    width: 400px;
    height: 40px;
    padding-top: 7px;
    padding-left: 7px;
}
