.nav-bar {
  display: flex;
  background-color: #f7f7f7;
  padding: 20px 0px;
  color: black;
  justify-content: space-between; /* Use space-between to create space between buttons */
  align-items: center;
}
  .loginBtn{
    width: 100px;
    color: black;
    border: none;
    margin: 0px 7px;
  }
  .loginBtn:hover{
    background-color: rgb(246, 137, 4);
    color: black;
  }



  .registerBtn{
    width:100px;
    margin: 0px 7px;
    border: none;
  }
  .registerBtn:hover{
    background-color: rgb(246, 137, 4);
  }

  
  .addBtn{
    width: 140px ;
    margin: 0px 7px;
    border: none;
  }
  .addBtn:hover{
    background-color: rgb(246, 137, 4);
  }

  
  .homeBtn{
    width: 140px ;
    margin: 0px 20px;
    
  }
  .buttonContainer {
    display: flex; 
    align-items: center; 
  }
  .homeContainer{
    display: flex; 
    align-items: center; 
  }

  @import url(https://fonts.googleapis.com/css?family=Raleway);
  
  .list-choice{
    width:120px;
    
    position: relative;
    cursor: pointer;  
    /*background-image: url("./download.png");
    background-size: contain;
    background-size: cover;
    background-position: center;*/
    
  }
  .list-choice input[type="radio"]{
    position:absolute;
    left:-9999px;
  }
  
  .list-choice-title {
  width: 60px;
  height: 43px;
  display: block;
  background-image: url("./download.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 0.55em 1em;
  box-sizing: border-box;
  color: #070000;
  text-shadow: 0 1px 0 #CACACA;
  border-radius: 0.2em;
  
  
  }
  .list-choice:hover .list-choice-title {
  border-radius:0.2em 0.2em 0 0;
  }
  .list-choice-objects label:nth-last-of-type(1) span{
    border-radius:0 0 0.2em 0.2em;
  }
  .list-choice input[type="radio"] + span {
  color: #FFF;
  background: #D8D8D8;
  padding: 0.55em 1em;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 120px;
  }
  .list-choice-objects {
  position: absolute;
  top: 0;
  padding-top: 2.8em;
  box-sizing: border-box;
  width: 120px;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;
  }
  .list-choice:hover .list-choice-objects  input[type="radio"] + span {
  position: relative;
  top: 0;
  transition: all 250ms ease-in-out;
  }
  .list-choice:hover input[type="radio"] + span:hover {
  background:#BBB;
  }
  .list-choice:hover input[type="radio"]:checked + span:hover {
  background:#74D68E;
  }
  .list-choice input[type="radio"]:checked + span {
  background: #74D68E;
  position: absolute;
  top: 0em;
  border-radius: 0.2em;
  }
  .list-choice:hover input[type="radio"]:checked + span {
  border-radius: 0;
  }
  .list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
    border-radius:0 0 0.2em 0.2em;
  }
  
  .list-choice:hover .list-choice-objects {
  max-height: 540px;
  }  