.nav-bar {
  display: flex;
  background-color: #f7f7f7;
  padding: 20px 0px;
  color: black;
  justify-content: space-between; /* Use space-between to create space between buttons */
  align-items: center;
}
  .loginBtn{
    width: 100px;
    color: black;
    border: none;
    margin: 0px 7px;
  }
  .loginBtn:hover{
    background-color: rgb(246, 137, 4);
    color: black;
  }



  .registerBtn{
    width:100px;
    margin: 0px 7px;
    border: none;
  }
  .registerBtn:hover{
    background-color: rgb(246, 137, 4);
  }

  
  .addBtn{
    width: 140px ;
    margin: 0px 7px;
    border: none;
  }
  .addBtn:hover{
    background-color: rgb(246, 137, 4);
  }

  
  .homeBtn{
    width: 140px ;
    margin: 0px 20px;
    
  }