/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/_components/_navbar/navbar.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.nav-bar {
  display: flex;
  background-color: #f7f7f7;
  padding: 20px 0px;
  color: black;
  justify-content: space-between; /* Use space-between to create space between buttons */
  align-items: center;
}
  .loginBtn{
    width: 100px;
    color: black;
    border: none;
    margin: 0px 7px;
  }
  .loginBtn:hover{
    background-color: rgb(246, 137, 4);
    color: black;
  }



  .registerBtn{
    width:100px;
    margin: 0px 7px;
    border: none;
  }
  .registerBtn:hover{
    background-color: rgb(246, 137, 4);
  }

  
  .addBtn{
    width: 140px ;
    margin: 0px 7px;
    border: none;
  }
  .addBtn:hover{
    background-color: rgb(246, 137, 4);
  }

  
  .homeBtn{
    width: 140px ;
    margin: 0px 20px;
    
  }
/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  margin: 0px;
}

*{
  text-decoration: none;

}
a:link
{
   color: white;
   text-decoration: none;
}
a:visited
{
   color: white;
   text-decoration: none;
}
a:hover
{
   color: white;
   text-decoration: none;
}
a:active
{
   color: white;
   text-decoration: none;
}
