/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/(root)/page.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
h1{
    font-size: xxx-large;
}

p{
    font-size: larger;
}

.main-ladning{
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    font-family: sans-serif;
    background-image: url(/_next/static/media/landing.91e5e408.jpg);
    height: 1200px;
    background-size: contain;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    color: #f7f7f7;
}

.search-div{
    height: 15%;
    background-color: #f7f7f7;
    border-radius: 15px;
    margin: 25px;
    display: flex;    
}


/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/_components/_button/button.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
button{
    height: 50px;
    margin: 30px;
    border-radius: 5px;
    border: solid 1px red;
    width: 15%;
    padding: 10px;
    background-color: red;
    color: #f7f7f7;
    font-weight: bold;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/_components/_listing/listing.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
input {
  width: 150px;
}

.listingElement {
  background-color: white;
  color: black;
  border:none;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 15 px rgba(172, 162, 162, 0.35);
  width: 300px;
  max-width: 300px;;
  margin-bottom: -15px;
  margin-top: 5px;
  

  
}
.listing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
}
.search-div {
  height: 15%;
  background-color: #f7f7f7;
  border-radius: 15px;
  margin: 70px 25px 25px 25px;
  display: flex;
}
.requestBtn {
  width: 100px;
}
.Search {
  border-radius: 15px;
  width: 500px;
  margin: 30px 0 0 30px;
}

.popup {
  justify-content: center;
  background-color: white;
  color: black;
  border-style: solid;
  border-color: black;
  margin: 10px 20px 0px 20px;
  border-radius: 30px;
  width: 60%;
  height: 60%;
  box-shadow: 0 5px 15 px rgba(0, 0, 0, 0.35);
  padding: 22px 30px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-content {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #111112;
  font-weight: 600;
  text-align: center;
}

.popupImage {
  width: 50%;
  height: 50%;
  border: 5px solid black;
  position: absolute;
  top: 10;
  left: 2%;
}

.popupListing {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-end; /* Align items to the right within the column */
  position: absolute;
  top: 10; /* Align to the top */
  right: 10%;
}

.popupButton {
  width: auto; /* Allow button to take its natural width */
  margin-top: 400px; /* Adjust margin as needed */
  margin-left: 10px;
}
.buttons{
  display: flex;
  margin-left: -250px;
  margin-top: 35px;
  justify-content: center;

}
.mortgage{
  width: 100px;
  padding-left: -10px;
}
.general{
  height :380px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  margin-left: 50px;
  border-radius: 18px;
  transition: transform 0.3s ease;
}
.general:hover{
  transform: scale(1.1);
}
.attributes{
  margin:8px 6px;
  
  
}
.img{
  border-radius: 18px;
}
#one{
  background-color: rgb(168, 246, 246);
  border-radius: 5px;
  padding: 0px 2px;
}
#two{
  background-color: rgb(174, 243, 173);
  border-radius: 5px;
  padding: 0px 2px;
}
#three{
  background-color: rgb(247, 188, 140);
  border-radius: 5px;
  padding: 0px 2px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/_components/_input/input.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
input{
    height: 30px;
    margin: 5px 30px;
    border-radius: 5px;
    border: solid 1px black;
    width: 35%;
    padding: 10px;
}

select {
    height: 50px;
    margin: 30px;
    border-radius: 5px;
    border: solid 1px black;
    width: 15%;
    padding: 10px;
}

.hideFile{
    display: none;
}


