input{
    width: 150px;
}

.listingElement{
    background-color: white;
    color:black;
    border-style:solid ;
    border-color: black;
    margin: 10px 20px 0px 20px;
    border-radius: 13px;
    width: 300px;
    height: 140px;
    box-shadow: 0 5px 15 px rgba(0,0,0,0.35);
    padding: 50px 30px 22px 30px;
}
.listing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
}
.search-div{
    height: 15%;
    background-color: #f7f7f7;
    border-radius: 15px;
    margin: 70px 25px 25px 25px;
    display: flex;   

}
.requestBtn{
    width: 100px;
}
.Search{
    border-radius: 15px;
    width: 500px;
    margin: 30px 0 0 30px ;
}