input {
  width: 150px;
}

.listingElement {
  background-color: white;
  color: black;
  border:none;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 15 px rgba(172, 162, 162, 0.35);
  width: 300px;
  max-width: 300px;;
  margin-bottom: -15px;
  margin-top: 5px;
  

  
}
.listing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
}
.search-div {
  height: 15%;
  background-color: #f7f7f7;
  border-radius: 15px;
  margin: 70px 25px 25px 25px;
  display: flex;
}
.requestBtn {
  width: 100px;
}
.Search {
  border-radius: 15px;
  width: 500px;
  margin: 30px 0 0 30px;
}

.popup {
  justify-content: center;
  background-color: white;
  color: black;
  border-style: solid;
  border-color: black;
  margin: 10px 20px 0px 20px;
  border-radius: 30px;
  width: 60%;
  height: 60%;
  box-shadow: 0 5px 15 px rgba(0, 0, 0, 0.35);
  padding: 22px 30px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-content {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #111112;
  font-weight: 600;
  text-align: center;
}

.popupImage {
  width: 50%;
  height: 50%;
  border: 5px solid black;
  position: absolute;
  top: 10;
  left: 2%;
}

.popupListing {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-end; /* Align items to the right within the column */
  position: absolute;
  top: 10; /* Align to the top */
  right: 10%;
}

.popupButton {
  width: auto; /* Allow button to take its natural width */
  margin-top: 400px; /* Adjust margin as needed */
  margin-left: 10px;
}
.buttons{
  display: flex;
  margin-left: -250px;
  margin-top: 35px;
  justify-content: center;

}
.mortgage{
  width: 100px;
  padding-left: -10px;
}
.general{
  height :380px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  margin-left: 50px;
  border-radius: 18px;
  transition: transform 0.3s ease;
}
.general:hover{
  transform: scale(1.1);
}
.attributes{
  margin:8px 6px;
  
  
}
.img{
  border-radius: 18px;
}
#one{
  background-color: rgb(168, 246, 246);
  border-radius: 5px;
  padding: 0px 2px;
}
#two{
  background-color: rgb(174, 243, 173);
  border-radius: 5px;
  padding: 0px 2px;
}
#three{
  background-color: rgb(247, 188, 140);
  border-radius: 5px;
  padding: 0px 2px;
}