/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/(routes)/(auth)/brokersList/Broker.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.listings{
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(13, 10, 10, 0.1);
    padding: 20px; 
    border-radius: 15px; 
    width: 100%;
    max-width: 300px;
    
    cursor: pointer;
    transition: all;
    text-decoration: none;
  
  }
  .listings:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .brokerImg{
    margin-bottom: 15px;
    margin-left: 35px;
  }
  
  .names{
    margin-bottom: 6px;
    margin-left: 20px;
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: black;
  }
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/(routes)/(auth)/brokersList/page.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.app {
    margin: 50px;
    align-items: center;
    width: 900px;
    justify-content: center;
    text-decoration: none;
   
    
  }
.list{
  
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8rem;
    text-decoration: none;
  }

.link{
    text-decoration: none;
    color: black;
}
.loop{
   
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-left: 400px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sentence{
    font-size: 40px;
    padding-bottom: 25px;
    margin-left: 400px;
}
