/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/_components/_input/input.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
input{
    height: 30px;
    margin: 30px;
    border-radius: 5px;
    border: solid 1px black;
    width: 15%;
    padding: 10px;
}

select {
    height: 50px;
    margin: 30px;
    border-radius: 5px;
    border: solid 1px black;
    width: 15%;
    padding: 10px;
}

.hideFile{
    display: none;
}


/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/_components/_button/button.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
button{
    height: 50px;
    margin: 30px;
    border-radius: 5px;
    border: solid 1px red;
    width: 15%;
    padding: 10px;
    background-color: red;
    color: #f7f7f7;
    font-weight: bold;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/(routes)/(house)/addHouse/page.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.container-form{
    height: 800px;
    width: 100%;
    justify-content: center;
    display: grid;
    place-items: center;
    background-image: url(/_next/static/media/landing.91e5e408.jpg);
    background-size: contain;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}
.formAdd{
    text-align: center;
    justify-content: center;
    width: 800px;
    background-color: #f7f7f7;
    padding: 50px;

}
