.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right,#f4d5d5,#ffffff) ;
    height: 100vh;
 
 
 }
 *,*::before, *::after{
    box-sizing: border-box;
 }
 
 
 .elements {
    border:none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    border-radius:3px;
    width: 250px;
    outline:none;
    background-color: rgb(245, 245, 245);
    margin-bottom: 6px;
    margin-left: 10px;
    border-radius:5px;
   
 }
 .elements:focus::placeholder{
    color:transparent;
 }
 .elements::placeholder{
    color:#222;
    transition:color 0.3s ease;
 }
 
 
 .inputWithIcon span {
    margin-left: 10px;
 }
 .button{
    margin-top: 20px;
    margin-left: 20px;
 }
 .messageButton{
    margin-top: 20px;
 }
 .total{
    margin-left: 50px;
 }
 .textWithImage{
    margin-top: -100px;
    margin-bottom: 100px;
    border-radius: 10px;
    display: flex;
 
 
   
 }
 .left{
    display: flex;
    flex-direction: column;
 }
 .sentence{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 10px;
 }
 .image{
    border-radius: 15px 50px 30px;
    margin-left: 60px;
 }
 