/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/(routes)/(auth)/brokers/[Name]/page.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.details{
    background: linear-gradient(to right,#9fd3c7,#142d4c) ;
    background-size: contain;
    background-size: cover;;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height: 100vh;
  
  }

.container{
    background-color: #ececec;
    border-radius: 30px;
    box-shadow: 0 5px 15 px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width:868px;
    max-width: 100%;
    min-height: 550px;
  }

 
  
  
  
  .container form{
    background-color: #ececec;
    background-color: aquamarine;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 360px;
    
  }
  
  
  
  .form-container{
    
    position: absolute;
    top:0;
    height: 100%;
    
    
  }
  
  .sign-in{
    left:0;
    width: 50%;
    z-index: 2;
  }
  
 
  .sign-up{
    left:0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  
  

  .left-container{
    position:absolute;
    top:0;
    left:35%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    
    border-radius: 50px 0 0 50px;
    z-index:1000;
  }
  
  
  
  .left{
    background-color: #ececec;
    background: #ececec;
    color: black;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
  }
  
  .left-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    top:0;
   
  }
  
  .left-right{
    right:0;   
  }
  .names1{
    font-weight: bold;
    font-size: 40px;
  }
  .info{
    padding-left: 70px;
    padding-top: 10px;
    font-size: 30px;
  }


